.wrapper{
    position: relative;
    // background-color: #202020;
    // background-image: url('https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/620bd6d655f2044afa28bff4_glassmorphism.jpeg');
    top:56px;
    width: 100%;
    height: calc(100% - 56px);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 3%;
}
.video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 56px;
}



.button{
    width: 60px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.search{
    box-sizing: border-box;
    width:80%;
    height: 56px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    display:flex;
    padding: 8px 10px;
    input{
        width: 100%;
        height: 100%;
        font-size: 20px;
        outline: none;
        border: none;
    }
}