.wrapper {
  position: relative;
  // background-color: #202020;
  // background-image: url('https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/620bd6d655f2044afa28bff4_glassmorphism.jpeg');
  background-image: linear-gradient(
    to right top,
    #000000,
    #0b0b0b,
    #141414,
    #1a1a1a,
    #202020,
    #252525,
    #2a2a2b,
    #2f2f30,
    #343436,
    #39393c,
    #3d3f43,
    #424449
  );
  top: 56px;
  width: 100%;
  min-width: 100vw;

  height: calc(100% - 56px);
  min-height: 100vh;
  // min-height: 100vh;
  padding: 20px;
  display: flex;
  overflow: hidden;
  // justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  flex-direction: column;
  background-color: white;

  // gap: 30px;
  .title {
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 3px black;
  }
}
.stt {
  width: 50px;
  height: 100%;
  line-height: 40px;
  // text-align: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;

    height: 100%;
    width: 1px;
    background-color: rgb(172, 171, 171);
    right: 0;
  }
}
.name {
  width: 200px;
  height: 100%;
  line-height: 40px;
  // text-align: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;

    height: 100%;
    width: 1px;
    background-color: rgb(172, 172, 172);

    right: 0;
  }
}
.quantity {
  width: 100px;
  height: 100%;
  line-height: 40px;
  // text-align: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;

    height: 100%;
    width: 1px;
    background-color: rgb(172, 172, 172);

    right: 0;
  }
}
.price {
  width: 120px;
  height: 100%;
  line-height: 40px;
  // text-align: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;

    height: 100%;
    width: 1px;
    background-color: rgb(172, 172, 172);

    right: 0;
  }
}
.sum_title {
  width: 200px;
}
.item {
  width: 680px;
  // height: 150px;
  // background-color: red;
  // border-radius: 8px;
  box-shadow: 2px 2px 3px black;

  overflow: hidden;
  display: flex;
  // padding: 0 20px 0 0;
  // box-shadow: 1px 1px 2px black;
  background-color: white;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;

    height: 1px;
    width: 100%;
    background-color: rgb(172, 172, 172);

    bottom: 0;
  }
  .pic {
    width: 150px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .infor {
    // flex: 1;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    justify-content: center;
    .name {
      width: 200px;
      font-size: 24px;
      font-weight: 600;
    }
    .quantity {
      font-size: 14px;
    }
    .price {
      font-size: 14px;
    }
    .price_sum {
      margin-top: 35px;
      font-size: 20px;
    }
  }
}
.sum {
  // border: 1px solid black;
  margin-top: 12px;
  height: 40px;
  width: 680px;
  font-size: 24px;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  // text-shadow: 2px 2px 20px rgb(72, 72, 72);
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 2px 2px 3px black;

  span {
    margin-right: 10px;
  }
}
// .odd {
//   margin-right: 0px;

//   margin-left: 40px;
// }
.clear{
  margin-top: 20px;
  width: 100px;
  height: 40px;
  // background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 12px;
  font-size: 24px;
  cursor: pointer;
  div{
    line-height: 40px;
    font-weight: 700;
    user-select: none;
  }
}



.clear {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;

  font-size: 16px;
 
  overflow: hidden;
  transition: .25s;

}

.clear:hover {
  background: #ffffff,;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff,
              0 0 10px #ffffff,
}

.clear span {
  position: absolute;
  display: block;
}

.clear span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.clear span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.clear span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.clear span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


.empty{
  font-size: 26px;
  color: white;
}